# Ignore source files
src/
*.js
*.ts

# Ignore development tools and configuration files
node_modules/
.git/
.editorconfig
.eslintrc
tsconfig.json
.github
.husky
.release

.eslintignore
.eslintrc.cjs
.lintstagedrc
.prettierrc
.releaserc
yarn.lock
package-lock.json
