# Ignore development tools and configuration files
node_modules/
.git/
.editorconfig
.eslintrc
.github
.husky
.release

.eslintignore
.eslintrc.cjs
.lintstagedrc
.prettierrc
.releaserc
yarn.lock
package-lock.json
tsconfig.json
